.container {
  width: 100vw;     
  height: 100vh;    
  background-color: white;
}

/*HEADER*/
.header {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.logo {
  font-size: 48px; 
  font-weight: bold;
  color: #ffffff;
}
/*-----------------*/
/*Productos*/

.addProduct{
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
  align-items: center;

}

.Input{
  border: solid 2px;
  border-color: black;
  border-radius: 10px;
  width: 50%;
  padding-left: 5px;
  margin-top: 5px;
}

.add{
  border: solid 2px;
  border-color: green;
  background-color: lightblue;
  border-radius: 10px;
  color: green;
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
}

.edit{
  border: solid 2px;
  border-color: green;
  background-color: lightblue;
  border-radius: 10px;
  color: green;
  margin-top: 10px;
  width: 5%;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
}

.delete {
  background-color: #e74c3c; /* Rojo para indicar eliminación */
  color: white;
  border: solid 2px;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-end;
  width: 5%;
  border-radius: 10px;
}

.delete:hover {
  background-color: #c0392b; /* Color más oscuro al pasar el mouse */
}

.save{
  border: solid 2px;
  border-color: green;
  background-color: lightblue;
  border-radius: 10px;
  color: green;
  margin-top: 10px;
  width: 5%;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10px;
}

.main {
  margin-top: 0.5vw;
  width: 100%;
  text-align: center;
}

.main input{
  text-align: center;
}

.selectCategory{
  color: black;
  grid-column: 1/3;
  text-align: center;
}

.filtros{
  display: flex;
  margin-top: 20px;
  justify-self: center;
  color: black;
}

.menuFiltros{
  justify-self: center;
  color: black;
}

.filtrado{
  display: flex;
  align-items: center;
}

.tipoFiltro{
  margin-left: 10px;
}

.cell {
  color: black;
  padding: 20px; 
  border: 1px solid #ccc;
  background-color: rgb(184, 184, 184); 
}

.cellDetails {
  color: black;
  padding: 20px;
  border: 1px solid rgb(62, 62, 62); 
  background-color: rgb(150, 149, 149); 
}

.categoryDetails {
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.categoryDetails span{
  border: solid 1px;
  align-content: center;
  padding: 2px;
}

.categoryDetails input{
  border: solid 1px;
  align-content: center;
  padding: 2px;
}

.flexRow {
  display: flex;
  justify-content: space-between; /* Separar nombre y flecha */
  align-items: center;
  width: 100%;
}

.nombreProducto {
  text-align: center;
  flex: 1;
  text-transform: capitalize;
}

.flechita {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.detailRow {
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.detailRow[style*="display: table-row"] {
  max-height: 500px; /* Adjust based on your table height */
  opacity: 1;
}

.detailRow input{
  text-align: ce;
}

.detailTableWrapper {
  display:flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Responsive para pantallas chicas */
@media (max-width: 600px) {
  .logo {
    font-size: 6vw;
  }

  .cell {
    font-size: 3vw;
    padding: 2vw;
  }
  
  .flechita {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .logo {
    font-size: 5vw;
  }

  .cell {
    font-size: 2vw;
    padding: 2vw;
  }

  .flechita {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  }
}