.container {
  width: 100vw;     
  height: 100vh;    
  background-color: #f0f0f0;
}

/*HEADER*/
.header {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.logo {
  font-size: 48px; 
  font-weight: bold;
  color: #ffffff;
}
/*-----------------*/
/*Productos*/

.main {
    margin-top: 0.5vw;
    width: 100%;
    text-align: center;
}

.cell {
  color: black;
  padding: 20px; 
  border: 1px solid #ccc;
  background-color: rgb(184, 184, 184); 
}

.cellDetails {
  color: black;
  padding: 20px;
  border: 1px solid rgb(62, 62, 62); 
  background-color: rgb(150, 149, 149); 
}

.categoryDetails {
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.categoryDetails span{
  border: solid 1px;
  align-content: center;
  padding: 2px;
}

.flexRow {
  display: flex;
  justify-content: space-between; /* Separar nombre y flecha */
  align-items: center;
  width: 100%;
}

.nombreProducto {
  text-align: center;
  flex: 1;
  text-transform: capitalize;
}

.flechita {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.detailRow {
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.detailRow[style*="display: table-row"] {
  max-height: 500px; /* Adjust based on your table height */
  opacity: 1;
}

.detailTableWrapper {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Responsive para pantallas chicas */
@media (max-width: 600px) {
  .logo {
    font-size: 6vw;
  }

  .cell {
    font-size: 3vw;
    padding: 2vw;
  }
  
  .flechita {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .logo {
    font-size: 5vw;
  }

  .cell {
    font-size: 2vw;
    padding: 2vw;
  }

  .flechita {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  }
}